## About Dataset


### Context
A fictional telco company that provided home phone and Internet services to 7043 customers in California in Q3.

### Data Description</br>
**7043 observations with 33 variables** 

**CustomerID:** A unique ID that identifies each customer.

**Count:** A value used in reporting/dashboarding to sum up the number of customers in a filtered set.

**Country:** The country of the customer’s primary residence.

**State:** The state of the customer’s primary residence.

**City:** The city of the customer’s primary residence.

**Zip Code:** The zip code of the customer’s primary residence.

**Lat Long:** The combined latitude and longitude of the customer’s primary residence.

**Latitude:** The latitude of the customer’s primary residence.

**Longitude:** The longitude of the customer’s primary residence.

**Gender:** The customer’s gender: Male, Female

**Senior Citizen:** Indicates if the customer is 65 or older: Yes, No

**Partner:** Indicate if the customer has a partner: Yes, No

**Dependents:** Indicates if the customer lives with any dependents: Yes, No. Dependents could be children, parents, grandparents, etc.

**Tenure Months:** Indicates the total amount of months that the customer has been with the company by the end of the quarter specified above.

**Phone Service:** Indicates if the customer subscribes to home phone service with the company: Yes, No

**Multiple Lines:** Indicates if the customer subscribes to multiple telephone lines with the company: Yes, No

**Internet Service:** Indicates if the customer subscribes to Internet service with the company: No, DSL, Fiber Optic, Cable.

**Online Security:** Indicates if the customer subscribes to an additional online security service provided by the company: Yes, No

**Online Backup:** Indicates if the customer subscribes to an additional online backup service provided by the company: Yes, No

**Device Protection:** Indicates if the customer subscribes to an additional device protection plan for their Internet equipment provided by the company: Yes, No

**Tech Support:** Indicates if the customer subscribes to an additional technical support plan from the company with reduced wait times: Yes, No

**Streaming TV:** Indicates if the customer uses their Internet service to stream television programing from a third party provider: Yes, No. The company does not charge an additional fee for this service.

**Streaming Movies:** Indicates if the customer uses their Internet service to stream movies from a third party provider: Yes, No. The company does not charge an additional fee for this service.

**Contract:** Indicates the customer’s current contract type: Month-to-Month, One Year, Two Year.

**Paperless Billing:** Indicates if the customer has chosen paperless billing: Yes, No

**Payment Method:** Indicates how the customer pays their bill: Bank Withdrawal, Credit Card, Mailed Check

**Monthly Charge:** Indicates the customer’s current total monthly charge for all their services from the company.

**Total Charges:** Indicates the customer’s total charges, calculated to the end of the quarter specified above.

**Churn Label:** Yes = the customer left the company this quarter. No = the customer remained with the company. Directly related to Churn Value.

**Churn Value:** 1 = the customer left the company this quarter. 0 = the customer remained with the company. Directly related to Churn Label.

**Churn Score:** A value from 0-100 that is calculated using the predictive tool IBM SPSS Modeler. The model incorporates multiple factors known to cause churn. The higher the score, the more likely the customer will churn.

**CLTV:** Customer Lifetime Value. A predicted CLTV is calculated using corporate formulas and existing data. The higher the value, the more valuable the customer. High value customers should be monitored for churn.

**Churn Reason:** A customer’s specific reason for leaving the company. Directly related to Churn Category.

In [58]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [59]:
sns.set_theme(style= 'darkgrid')

In [107]:
customer_churn = pd.read_excel('Telco_customer_churn.xlsx')

In [108]:
customer_churn.head()

,CustomerID,Count,Country,State,City,Zip Code,Lat Long,Latitude,Longitude,Gender,...,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Label,Churn Value,Churn Score,CLTV,Churn Reason
0,3668-QPYBK,1,United States,California,Los Angeles,90003,"33.964131, -118.272783",33.964131,-118.272783,Male,...,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,1,86,3239,Competitor made better offer
1,9237-HQITU,1,United States,California,Los Angeles,90005,"34.059281, -118.30742",34.059281,-118.307420,Female,...,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,1,67,2701,Moved
2,9305-CDSKC,1,United States,California,Los Angeles,90006,"34.048013, -118.293953",34.048013,-118.293953,Female,...,Month-to-month,Yes,Electronic check,99.65,820.5,Yes,1,86,5372,Moved
3,7892-POOKP,1,United States,California,Los Angeles,90010,"34.062125, -118.315709",34.062125,-118.315709,Female,...,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes,1,84,5003,Moved
4,0280-XJGEX,1,United States,California,Los Angeles,90015,"34.039224, -118.266293",34.039224,-118.266293,Male,...,Month-to-month,Yes,Bank transfer (automatic),103.70,5036.3,Yes,1,89,5340,Competitor had better devices

In [109]:
customer_churn.sample(5)

,CustomerID,Count,Country,State,City,Zip Code,Lat Long,Latitude,Longitude,Gender,...,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Label,Churn Value,Churn Score,CLTV,Churn Reason
5835,9229-RQABD,1,United States,California,Salton City,92275,"33.28156, -115.955541",33.281560,-115.955541,Male,...,One year,No,Mailed check,23.75,424.5,No,0,70,3076,NaN
1434,2207-OBZNX,1,United States,California,Aguanga,92536,"33.482243, -116.827173",33.482243,-116.827173,Male,...,Month-to-month,Yes,Mailed check,51.00,354.05,Yes,1,90,3736,Attitude of service provider
5295,7402-EYFXX,1,United States,California,Salyer,95563,"40.89866, -123.539754",40.898660,-123.539754,Male,...,Month-to-month,Yes,Electronic check,93.60,2404.1,No,0,54,4030,NaN
5346,5871-DGTXZ,1,United States,California,River Pines,95675,"38.545775, -120.743325",38.545775,-120.743325,Male,...,One year,No,Mailed check,19.80,607.7,No,0,38,4636,NaN
2891,8039-ACLPL,1,United States,California,Mather,95655,"38.549822, -121.266725",38.549822,-121.266725,Female,...,Two year,No,Credit card (automatic),68.75,4888.2,No,0,52,4505,NaN

In [110]:
customer_churn.columns = customer_churn.columns.str.lower().str.replace(' ', '_')

In [111]:
customer_churn.sample(5)

,customerid,count,country,state,city,zip_code,lat_long,latitude,longitude,gender,...,contract,paperless_billing,payment_method,monthly_charges,total_charges,churn_label,churn_value,churn_score,cltv,churn_reason
3575,6463-HHXJR,1,United States,California,Lemon Cove,93244,"36.462671, -118.997291",36.462671,-118.997291,Female,...,Two year,No,Bank transfer (automatic),100.50,7030.65,No,0,41,4080,NaN
6977,3648-GZPHF,1,United States,California,San Marcos,92069,"33.162624, -117.170863",33.162624,-117.170863,Male,...,One year,Yes,Mailed check,36.25,1151.05,No,0,45,2609,NaN
6233,1830-IPXVJ,1,United States,California,Lafayette,94549,"37.907777, -122.127161",37.907777,-122.127161,Female,...,Two year,No,Credit card (automatic),19.75,1311.6,No,0,22,6108,NaN
3082,2581-VKIRT,1,United States,California,Kings Beach,96143,"39.246654, -120.029273",39.246654,-120.029273,Female,...,One year,No,Mailed check,65.50,3801.3,No,0,35,5631,NaN
3724,9668-PUGNU,1,United States,California,Big Sur,93920,"36.092975, -121.549826",36.092975,-121.549826,Male,...,Two year,Yes,Electronic check,24.50,1816.2,No,0,38,4058,NaN

In [112]:
customer_churn.columns

Index(['customerid', 'count', 'country', 'state', 'city', 'zip_code',
       'lat_long', 'latitude', 'longitude', 'gender', 'senior_citizen',
       'partner', 'dependents', 'tenure_months', 'phone_service',
       'multiple_lines', 'internet_service', 'online_security',
       'online_backup', 'device_protection', 'tech_support', 'streaming_tv',
       'streaming_movies', 'contract', 'paperless_billing', 'payment_method',
       'monthly_charges', 'total_charges', 'churn_label', 'churn_value',
       'churn_score', 'cltv', 'churn_reason'],
      dtype='object')

In [113]:
customer_churn.shape

(7043, 33)

In [114]:
customer_churn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 33 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customerid         7043 non-null   object
 1   count              7043 non-null   int64
 2   country            7043 non-null   object
 3   state              7043 non-null   object
 4   city               7043 non-null   object
 5   zip_code           7043 non-null   int64
 6   lat_long           7043 non-null   object
 7   latitude           7043 non-null   float64
 8   longitude          7043 non-null   float64
 9   gender             7043 non-null   object
 10  senior_citizen     7043 non-null   object
 11  partner            7043 non-null   object
 12  dependents         7043 non-null   object
 13  tenure_months      7043 non-null   int64
 14  phone_service      7043 non-null   object
 15  multiple_lines     7043 non-null   object
 16  internet_service   7043 non-null   object
 17  online_security    7043 non-null   object
 18  online_backup      7043 non-null   object
 19  device_protection  7043 non-null   object
 20  tech_support       7043 non-null   object
 21  streaming_tv       7043 non-null   object
 22  streaming_movies   7043 non-null   object
 23  contract           7043 non-null   object
 24  paperless_billing  7043 non-null   object
 25  payment_method     7043 non-null   object
 26  monthly_charges    7043 non-null   float64
 27  total_charges      7043 non-null   object
 28  churn_label        7043 non-null   object
 29  churn_value        7043 non-null   int64
 30  churn_score        7043 non-null   int64
 31  cltv               7043 non-null   int64
 32  churn_reason       1869 non-null   object
dtypes: float64(3), int64(6), object(24)
memory usage: 1.8+ MB

In [115]:
customer_churn.isnull().sum().value_counts(ascending=False)

0       32
5174     1
Name: count, dtype: int64

In [116]:
customer_churn.isnull().sum()

customerid              0
count                   0
country                 0
state                   0
city                    0
zip_code                0
lat_long                0
latitude                0
longitude               0
gender                  0
senior_citizen          0
partner                 0
dependents              0
tenure_months           0
phone_service           0
multiple_lines          0
internet_service        0
online_security         0
online_backup           0
device_protection       0
tech_support            0
streaming_tv            0
streaming_movies        0
contract                0
paperless_billing       0
payment_method          0
monthly_charges         0
total_charges           0
churn_label             0
churn_value             0
churn_score             0
cltv                    0
churn_reason         5174
dtype: int64

In [117]:
customer_churn.describe().T

,count,mean,std,min,25%,50%,75%,max
count,7043.0,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000
zip_code,7043.0,93521.964646,1865.794555,90001.000000,92102.000000,93552.000000,95351.000000,96161.000000
latitude,7043.0,36.282441,2.455723,32.555828,34.030915,36.391777,38.224869,41.962127
longitude,7043.0,-119.798880,2.157889,-124.301372,-121.815412,-119.730885,-118.043237,-114.192901
tenure_months,7043.0,32.371149,24.559481,0.000000,9.000000,29.000000,55.000000,72.000000
monthly_charges,7043.0,64.761692,30.090047,18.250000,35.500000,70.350000,89.850000,118.750000
churn_value,7043.0,0.265370,0.441561,0.000000,0.000000,0.000000,1.000000,1.000000
churn_score,7043.0,58.699418,21.525131,5.000000,40.000000,61.000000,75.000000,100.000000
cltv,7043.0,4400.295755,1183.057152,2003.000000,3469.000000,4527.000000,5380.500000,6500.000000

In [118]:
customer_churn.columns

Index(['customerid', 'count', 'country', 'state', 'city', 'zip_code',
       'lat_long', 'latitude', 'longitude', 'gender', 'senior_citizen',
       'partner', 'dependents', 'tenure_months', 'phone_service',
       'multiple_lines', 'internet_service', 'online_security',
       'online_backup', 'device_protection', 'tech_support', 'streaming_tv',
       'streaming_movies', 'contract', 'paperless_billing', 'payment_method',
       'monthly_charges', 'total_charges', 'churn_label', 'churn_value',
       'churn_score', 'cltv', 'churn_reason'],
      dtype='object')

In [119]:
redundants = ['count', 'zip_code', 'lat_long', 'latitude', 'longitude', 'partner', 'dependents', 'churn_reason']

customer_churn.drop(redundants, axis = 1, inplace=True)

In [130]:
customer_churn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 25 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customerid         7043 non-null   object
 1   country            7043 non-null   object
 2   state              7043 non-null   object
 3   city               7043 non-null   object
 4   gender             7043 non-null   object
 5   senior_citizen     7043 non-null   object
 6   tenure_months      7043 non-null   int64
 7   phone_service      7043 non-null   object
 8   multiple_lines     7043 non-null   object
 9   internet_service   7043 non-null   object
 10  online_security    7043 non-null   object
 11  online_backup      7043 non-null   object
 12  device_protection  7043 non-null   object
 13  tech_support       7043 non-null   object
 14  streaming_tv       7043 non-null   object
 15  streaming_movies   7043 non-null   object
 16  contract           7043 non-null   object
 17  paperless_billing  7043 non-null   object
 18  payment_method     7043 non-null   object
 19  monthly_charges    7043 non-null   float64
 20  total_charges      7043 non-null   object
 21  churn_label        7043 non-null   object
 22  churn_value        7043 non-null   int64
 23  churn_score        7043 non-null   int64
 24  cltv               7043 non-null   int64
dtypes: float64(1), int64(4), object(20)
memory usage: 1.3+ MB

In [134]:
remove_charges = customer_churn[customer_churn['total_charges']==' ']
remove_charges

,customerid,country,state,city,gender,senior_citizen,tenure_months,phone_service,multiple_lines,internet_service,...,streaming_movies,contract,paperless_billing,payment_method,monthly_charges,total_charges,churn_label,churn_value,churn_score,cltv
2234,4472-LVYGI,United States,California,San Bernardino,Female,No,0,No,No phone service,DSL,...,No,Two year,Yes,Bank transfer (automatic),52.55,,No,0,36,2578
2438,3115-CZMZD,United States,California,Independence,Male,No,0,Yes,No,No,...,No internet service,Two year,No,Mailed check,20.25,,No,0,68,5504
2568,5709-LVOEQ,United States,California,San Mateo,Female,No,0,Yes,No,DSL,...,Yes,Two year,No,Mailed check,80.85,,No,0,45,2048
2667,4367-NUYAO,United States,California,Cupertino,Male,No,0,Yes,Yes,No,...,No internet service,Two year,No,Mailed check,25.75,,No,0,48,4950
2856,1371-DWPAZ,United States,California,Redcrest,Female,No,0,No,No phone service,DSL,...,No,Two year,No,Credit card (automatic),56.05,,No,0,30,4740
4331,7644-OMVMY,United States,California,Los Angeles,Male,No,0,Yes,No,No,...,No internet service,Two year,No,Mailed check,19.85,,No,0,53,2019
4687,3213-VVOLG,United States,California,Sun City,Male,No,0,Yes,Yes,No,...,No internet service,Two year,No,Mailed check,25.35,,No,0,49,2299
5104,2520-SGTTA,United States,California,Ben Lomond,Female,No,0,Yes,No,No,...,No internet service,Two year,No,Mailed check,20.00,,No,0,27,3763
5719,2923-ARZLG,United States,California,La Verne,Male,No,0,Yes,No,No,...,No internet service,One year,Yes,Mailed check,19.70,,No,0,69,4890
6772,4075-WKNIU,United States,California,Bell,Female,No,0,Yes,Yes,DSL,...,No,Two year,No,Mailed check,73.35,,No,0,44,2342
6840,2775-SEFEE,United States,California,Wilmington,Male,No,0,Yes,Yes,DSL,...,No,Two year,Yes,Bank transfer (automatic),61.90,,No,0,65,5188

In [137]:
customer_churn.drop(customer_churn[customer_churn['total_charges']==' '])

KeyError: "['customerid', 'country', 'state', 'city', 'gender', 'senior_citizen', 'tenure_months', 'phone_service', 'multiple_lines', 'internet_service', 'online_security', 'online_backup', 'device_protection', 'tech_support', 'streaming_tv', 'streaming_movies', 'contract', 'paperless_billing', 'payment_method', 'monthly_charges', 'total_charges', 'churn_label', 'churn_value', 'churn_score', 'cltv'] not found in axis"

In [101]:
customer_churn['total_charges'].replace(' ', 0, inplace=True)

C:\Users\ayojo\AppData\Local\Temp\ipykernel_37196\70934275.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  customer_churn['total_charges'].replace('', 0, inplace=True)

In [102]:
customer_churn['total_charges'] = customer_churn['total_charges'].astype(float)

In [ ]:
customer_churn.reset_index()

In [103]:
categorical_columns = customer_churn.select_dtypes(['object']).columns
numerical_columns = customer_churn.select_dtypes(include=np.number).columns

In [104]:
customer_churn[categorical_columns]

,customerid,country,state,city,gender,senior_citizen,phone_service,multiple_lines,internet_service,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,contract,paperless_billing,payment_method,churn_label
0,3668-QPYBK,United States,California,Los Angeles,Male,No,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,Yes
1,9237-HQITU,United States,California,Los Angeles,Female,No,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,Yes
2,9305-CDSKC,United States,California,Los Angeles,Female,No,Yes,Yes,Fiber optic,No,No,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,Yes
3,7892-POOKP,United States,California,Los Angeles,Female,No,Yes,Yes,Fiber optic,No,No,Yes,Yes,Yes,Yes,Month-to-month,Yes,Electronic check,Yes
4,0280-XJGEX,United States,California,Los Angeles,Male,No,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Bank transfer (automatic),Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,2569-WGERO,United States,California,Landers,Female,No,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,Yes,Bank transfer (automatic),No
7039,6840-RESVB,United States,California,Adelanto,Male,No,Yes,Yes,DSL,Yes,No,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,No
7040,2234-XADUH,United States,California,Amboy,Female,No,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),No
7041,4801-JZAZL,United States,California,Angelus Oaks,Female,No,No,No phone service,DSL,Yes,No,No,No,No,No,Month-to-month,Yes,Electronic check,No
7042,3186-AJIEK,United States,California,Apple Valley,Male,No,Yes,No,Fiber optic,Yes,No,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),No

In [106]:
customer_churn.head()

,customerid,country,state,city,gender,senior_citizen,tenure_months,phone_service,multiple_lines,internet_service,...,streaming_movies,contract,paperless_billing,payment_method,monthly_charges,total_charges,churn_label,churn_value,churn_score,cltv
0,3668-QPYBK,United States,California,Los Angeles,Male,No,2,Yes,No,DSL,...,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,1,86,3239
1,9237-HQITU,United States,California,Los Angeles,Female,No,2,Yes,No,Fiber optic,...,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,1,67,2701
2,9305-CDSKC,United States,California,Los Angeles,Female,No,8,Yes,Yes,Fiber optic,...,Yes,Month-to-month,Yes,Electronic check,99.65,820.50,Yes,1,86,5372
3,7892-POOKP,United States,California,Los Angeles,Female,No,28,Yes,Yes,Fiber optic,...,Yes,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes,1,84,5003
4,0280-XJGEX,United States,California,Los Angeles,Male,No,49,Yes,Yes,Fiber optic,...,Yes,Month-to-month,Yes,Bank transfer (automatic),103.70,5036.30,Yes,1,89,5340

In [105]:
customer_churn[numerical_columns]

,tenure_months,monthly_charges,total_charges,churn_value,churn_score,cltv
0,2,53.85,108.15,1,86,3239
1,2,70.70,151.65,1,67,2701
2,8,99.65,820.50,1,86,5372
3,28,104.80,3046.05,1,84,5003
4,49,103.70,5036.30,1,89,5340
...,...,...,...,...,...,...
7038,72,21.15,1419.40,0,45,5306
7039,24,84.80,1990.50,0,59,2140
7040,72,103.20,7362.90,0,71,5560
7041,11,29.60,346.45,0,59,2793
7042,66,105.65,6844.50,0,38,5097

In [99]:
categorical_columns

Index(['customerid', 'country', 'state', 'city', 'gender', 'senior_citizen',
       'phone_service', 'multiple_lines', 'internet_service',
       'online_security', 'online_backup', 'device_protection', 'tech_support',
       'streaming_tv', 'streaming_movies', 'contract', 'paperless_billing',
       'payment_method', 'total_charges', 'churn_label'],
      dtype='object')

In [87]:
numerical_columns

Index(['tenure_months', 'monthly_charges', 'churn_value', 'churn_score',
       'cltv'],
      dtype='object')