In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
sns.set_theme(style= 'darkgrid')

In [3]:
customer_churn = pd.read_excel('Telco_customer_churn.xlsx')

In [4]:
customer_churn.head()

,CustomerID,Count,Country,State,City,Zip Code,Lat Long,Latitude,Longitude,Gender,...,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Label,Churn Value,Churn Score,CLTV,Churn Reason
0,3668-QPYBK,1,United States,California,Los Angeles,90003,"33.964131, -118.272783",33.964131,-118.272783,Male,...,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,1,86,3239,Competitor made better offer
1,9237-HQITU,1,United States,California,Los Angeles,90005,"34.059281, -118.30742",34.059281,-118.307420,Female,...,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,1,67,2701,Moved
2,9305-CDSKC,1,United States,California,Los Angeles,90006,"34.048013, -118.293953",34.048013,-118.293953,Female,...,Month-to-month,Yes,Electronic check,99.65,820.5,Yes,1,86,5372,Moved
3,7892-POOKP,1,United States,California,Los Angeles,90010,"34.062125, -118.315709",34.062125,-118.315709,Female,...,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes,1,84,5003,Moved
4,0280-XJGEX,1,United States,California,Los Angeles,90015,"34.039224, -118.266293",34.039224,-118.266293,Male,...,Month-to-month,Yes,Bank transfer (automatic),103.70,5036.3,Yes,1,89,5340,Competitor had better devices

In [6]:
customer_churn.sample(5)

,CustomerID,Count,Country,State,City,Zip Code,Lat Long,Latitude,Longitude,Gender,...,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Label,Churn Value,Churn Score,CLTV,Churn Reason
5238,6377-WHAOX,1,United States,California,Gualala,95445,"38.848082, -123.50608",38.848082,-123.506080,Female,...,Month-to-month,Yes,Electronic check,106.15,6411.25,No,0,32,4115,NaN
323,5565-FILXA,1,United States,California,Yosemite National Park,95389,"37.704267, -119.607001",37.704267,-119.607001,Female,...,Month-to-month,Yes,Electronic check,96.15,1529.2,Yes,1,96,5913,Don't know
5327,2988-GBIVW,1,United States,California,Knights Landing,95645,"38.875508, -121.765866",38.875508,-121.765866,Female,...,Month-to-month,Yes,Electronic check,90.85,6470.1,No,0,64,5129,NaN
155,4913-EHYUI,1,United States,California,Alpaugh,93201,"35.869626, -119.498771",35.869626,-119.498771,Male,...,One year,Yes,Bank transfer (automatic),104.55,5794.65,Yes,1,91,6268,Competitor offered higher download speeds
3253,9637-CDTKZ,1,United States,California,Panorama City,91402,"34.223768, -118.445461",34.223768,-118.445461,Male,...,Two year,Yes,Credit card (automatic),114.10,8086.4,No,0,61,4965,NaN