In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [4]:
sns.set_theme(style= 'darkgrid')

In [5]:
customer_churn = pd.read_excel('Telco_customer_churn.xlsx')

In [6]:
customer_churn.head()

,CustomerID,Count,Country,State,City,Zip Code,Lat Long,Latitude,Longitude,Gender,...,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Label,Churn Value,Churn Score,CLTV,Churn Reason
0,3668-QPYBK,1,United States,California,Los Angeles,90003,"33.964131, -118.272783",33.964131,-118.272783,Male,...,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,1,86,3239,Competitor made better offer
1,9237-HQITU,1,United States,California,Los Angeles,90005,"34.059281, -118.30742",34.059281,-118.307420,Female,...,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,1,67,2701,Moved
2,9305-CDSKC,1,United States,California,Los Angeles,90006,"34.048013, -118.293953",34.048013,-118.293953,Female,...,Month-to-month,Yes,Electronic check,99.65,820.5,Yes,1,86,5372,Moved
3,7892-POOKP,1,United States,California,Los Angeles,90010,"34.062125, -118.315709",34.062125,-118.315709,Female,...,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes,1,84,5003,Moved
4,0280-XJGEX,1,United States,California,Los Angeles,90015,"34.039224, -118.266293",34.039224,-118.266293,Male,...,Month-to-month,Yes,Bank transfer (automatic),103.70,5036.3,Yes,1,89,5340,Competitor had better devices

In [7]:
customer_churn.sample(5)

,CustomerID,Count,Country,State,City,Zip Code,Lat Long,Latitude,Longitude,Gender,...,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Label,Churn Value,Churn Score,CLTV,Churn Reason
1958,9560-BBZXK,1,United States,California,Whittier,90605,"33.960891, -118.032222",33.960891,-118.032222,Female,...,Two year,No,Bank transfer (automatic),31.05,1126.35,No,0,54,4871,NaN
2384,5076-YVXCM,1,United States,California,Tupman,93276,"35.316263, -119.402559",35.316263,-119.402559,Male,...,Month-to-month,No,Bank transfer (automatic),83.40,4149.45,No,0,65,4191,NaN
5942,5985-BEHZK,1,United States,California,Santa Ana,92705,"33.766004, -117.786763",33.766004,-117.786763,Female,...,One year,No,Credit card (automatic),105.00,7578.05,No,0,56,6423,NaN
3128,6435-SRWBJ,1,United States,California,Los Angeles,90068,"34.137411, -118.328915",34.137411,-118.328915,Female,...,Month-to-month,Yes,Electronic check,82.75,417.75,No,0,36,5269,NaN
600,9578-VRMNM,1,United States,California,Summerland,93067,"34.420998, -119.60137",34.420998,-119.601370,Female,...,Month-to-month,Yes,Credit card (automatic),65.20,1043.35,Yes,1,73,4722,Attitude of support person

In [9]:
customer_churn.shape

(7043, 33)