In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [4]:
sns.set_theme(style= 'darkgrid')

In [5]:
customer_churn = pd.read_excel('Telco_customer_churn.xlsx')

In [6]:
customer_churn.head()

,CustomerID,Count,Country,State,City,Zip Code,Lat Long,Latitude,Longitude,Gender,...,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Label,Churn Value,Churn Score,CLTV,Churn Reason
0,3668-QPYBK,1,United States,California,Los Angeles,90003,"33.964131, -118.272783",33.964131,-118.272783,Male,...,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,1,86,3239,Competitor made better offer
1,9237-HQITU,1,United States,California,Los Angeles,90005,"34.059281, -118.30742",34.059281,-118.307420,Female,...,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,1,67,2701,Moved
2,9305-CDSKC,1,United States,California,Los Angeles,90006,"34.048013, -118.293953",34.048013,-118.293953,Female,...,Month-to-month,Yes,Electronic check,99.65,820.5,Yes,1,86,5372,Moved
3,7892-POOKP,1,United States,California,Los Angeles,90010,"34.062125, -118.315709",34.062125,-118.315709,Female,...,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes,1,84,5003,Moved
4,0280-XJGEX,1,United States,California,Los Angeles,90015,"34.039224, -118.266293",34.039224,-118.266293,Male,...,Month-to-month,Yes,Bank transfer (automatic),103.70,5036.3,Yes,1,89,5340,Competitor had better devices

In [7]:
customer_churn.sample(5)

,CustomerID,Count,Country,State,City,Zip Code,Lat Long,Latitude,Longitude,Gender,...,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Label,Churn Value,Churn Score,CLTV,Churn Reason
1958,9560-BBZXK,1,United States,California,Whittier,90605,"33.960891, -118.032222",33.960891,-118.032222,Female,...,Two year,No,Bank transfer (automatic),31.05,1126.35,No,0,54,4871,NaN
2384,5076-YVXCM,1,United States,California,Tupman,93276,"35.316263, -119.402559",35.316263,-119.402559,Male,...,Month-to-month,No,Bank transfer (automatic),83.40,4149.45,No,0,65,4191,NaN
5942,5985-BEHZK,1,United States,California,Santa Ana,92705,"33.766004, -117.786763",33.766004,-117.786763,Female,...,One year,No,Credit card (automatic),105.00,7578.05,No,0,56,6423,NaN
3128,6435-SRWBJ,1,United States,California,Los Angeles,90068,"34.137411, -118.328915",34.137411,-118.328915,Female,...,Month-to-month,Yes,Electronic check,82.75,417.75,No,0,36,5269,NaN
600,9578-VRMNM,1,United States,California,Summerland,93067,"34.420998, -119.60137",34.420998,-119.601370,Female,...,Month-to-month,Yes,Credit card (automatic),65.20,1043.35,Yes,1,73,4722,Attitude of support person

In [20]:
customer_churn.columns = customer_churn.columns.str.lower().str.replace(' ', '_')

In [21]:
customer_churn.sample(5)

,customerid,count,country,state,city,zip_code,lat_long,latitude,longitude,gender,...,contract,paperless_billing,payment_method,monthly_charges,total_charges,churn_label,churn_value,churn_score,cltv,churn_reason
537,4795-KTRTH,1,United States,California,San Diego,92122,"32.85723, -117.209774",32.857230,-117.209774,Female,...,Month-to-month,Yes,Electronic check,81.00,371.65,Yes,1,99,4287,Product dissatisfaction
6440,6725-TPKJO,1,United States,California,Duncans Mills,95430,"38.445603, -123.063756",38.445603,-123.063756,Male,...,Two year,No,Mailed check,20.05,845.25,No,0,41,2798,NaN
849,4183-WCSEP,1,United States,California,Weaverville,96093,"40.759401, -122.939337",40.759401,-122.939337,Male,...,Month-to-month,Yes,Electronic check,78.45,2435.15,Yes,1,72,3091,Long distance charges
4488,6212-ATMLK,1,United States,California,Rancho Cucamonga,91701,"34.132275, -117.611478",34.132275,-117.611478,Female,...,Month-to-month,Yes,Electronic check,95.70,4729.75,No,0,44,4164,NaN
3955,3638-DIMPH,1,United States,California,Wilseyville,95257,"38.392686, -120.415951",38.392686,-120.415951,Female,...,One year,No,Electronic check,43.80,592.65,No,0,40,4369,NaN

In [22]:
customer_churn.columns

Index(['customerid', 'count', 'country', 'state', 'city', 'zip_code',
       'lat_long', 'latitude', 'longitude', 'gender', 'senior_citizen',
       'partner', 'dependents', 'tenure_months', 'phone_service',
       'multiple_lines', 'internet_service', 'online_security',
       'online_backup', 'device_protection', 'tech_support', 'streaming_tv',
       'streaming_movies', 'contract', 'paperless_billing', 'payment_method',
       'monthly_charges', 'total_charges', 'churn_label', 'churn_value',
       'churn_score', 'cltv', 'churn_reason'],
      dtype='object')

In [9]:
customer_churn.shape

(7043, 33)

In [12]:
customer_churn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 33 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CustomerID         7043 non-null   object
 1   Count              7043 non-null   int64
 2   Country            7043 non-null   object
 3   State              7043 non-null   object
 4   City               7043 non-null   object
 5   Zip Code           7043 non-null   int64
 6   Lat Long           7043 non-null   object
 7   Latitude           7043 non-null   float64
 8   Longitude          7043 non-null   float64
 9   Gender             7043 non-null   object
 10  Senior Citizen     7043 non-null   object
 11  Partner            7043 non-null   object
 12  Dependents         7043 non-null   object
 13  Tenure Months      7043 non-null   int64
 14  Phone Service      7043 non-null   object
 15  Multiple Lines     7043 non-null   object
 16  Internet Service   7043 non-null   object
 17  Online Security    7043 non-null   object
 18  Online Backup      7043 non-null   object
 19  Device Protection  7043 non-null   object
 20  Tech Support       7043 non-null   object
 21  Streaming TV       7043 non-null   object
 22  Streaming Movies   7043 non-null   object
 23  Contract           7043 non-null   object
 24  Paperless Billing  7043 non-null   object
 25  Payment Method     7043 non-null   object
 26  Monthly Charges    7043 non-null   float64
 27  Total Charges      7043 non-null   object
 28  Churn Label        7043 non-null   object
 29  Churn Value        7043 non-null   int64
 30  Churn Score        7043 non-null   int64
 31  CLTV               7043 non-null   int64
 32  Churn Reason       1869 non-null   object
dtypes: float64(3), int64(6), object(24)
memory usage: 1.8+ MB

In [19]:
customer_churn.isnull().sum().value_counts(ascending=False)

0       32
5174     1
Name: count, dtype: int64

In [11]:
customer_churn.describe().T

,count,mean,std,min,25%,50%,75%,max
Count,7043.0,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000
Zip Code,7043.0,93521.964646,1865.794555,90001.000000,92102.000000,93552.000000,95351.000000,96161.000000
Latitude,7043.0,36.282441,2.455723,32.555828,34.030915,36.391777,38.224869,41.962127
Longitude,7043.0,-119.798880,2.157889,-124.301372,-121.815412,-119.730885,-118.043237,-114.192901
Tenure Months,7043.0,32.371149,24.559481,0.000000,9.000000,29.000000,55.000000,72.000000
Monthly Charges,7043.0,64.761692,30.090047,18.250000,35.500000,70.350000,89.850000,118.750000
Churn Value,7043.0,0.265370,0.441561,0.000000,0.000000,0.000000,1.000000,1.000000
Churn Score,7043.0,58.699418,21.525131,5.000000,40.000000,61.000000,75.000000,100.000000
CLTV,7043.0,4400.295755,1183.057152,2003.000000,3469.000000,4527.000000,5380.500000,6500.000000